body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #222222;
  color: #c7c6c6;
  font-size: 20px;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 52px;
}

h2 {
  padding-bottom: 50px;
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

figure {
  padding-bottom: 40px;
  text-align: center;
}

cite {
  font-style: normal;
}

a {
  text-decoration: none;
}

.title {
  margin: 0 auto;
}

.code-style {
  text-align: center;
}

.links {
  list-style-type: none;
  background-color: #363636;
  padding: 15px 0 15px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.links-a {
  color: #c7c6c6;
}

.image {
  max-width: 400px;
}

.decor-text {
  margin-bottom: 30px;
}